<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false">

  <!-- Define the targets: Console logging -->
  <targets>
    <!-- Write logs to the console -->
    <target xsi:type="Console" name="consoleTarget" layout="${longdate} [${level:uppercase=true}] ${logger}: ${message}"/>
  </targets>

  <!-- Define the rules -->
  <rules>
    <!-- Log all messages from Trace level and above (Debug, Info, Warn, Error, Fatal) to the console -->
    <logger name="*" minlevel="Trace" writeTo="consoleTarget" />
  </rules>
</nlog>
